body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Merriweather";
}

h2 {
    color: #3046C5;
}

header h2, h5 {
    color: white;
}

footer {
    background-color: navy;
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #6b1010, #3046C5);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: navy;
}